/* Reseteo variables e imports*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
}
/* Variables e importaciones */
:root {
--color-primario: #fdf0d5;
--color-secundario: #c1121f;
--color-terciario: #003049;
--color-clickable: #FF70A6;
--color-blanco: #ffffff;
--color-negro: #000000;
}
body {
    background-color: var(--color-secundario);
}

.cabecera {
background: var(--color-primario);
display: flex;
justify-content: space-between;
}
.cabecera__logo {
    width: 25%;
}

.logo {
width: 100%;
}
.menu__lista {
    list-style-type: none; 
}
.menu__lista--elemento {
    color: var(--color-secundario);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.menu__lista--elemento:hover {
    color: var(--color-clickable);
}
.cabecera__titulo {
color: var(--color-terciario);
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}
.cabecera__buscar--enlace__newsletter{
    color: var(--color-secundario);
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.cabecera__buscar--enlace__newsletter:hover {
    color: var(--color-clickable)
}

.cabecera__buscar {
    width: 25%;
}

.cabecera__contactar {
    width: 25%;
}
.cabecera__navegar {
    width: 25%;
}
.cabecera__contactar--métodos {
    display: flex;
    justify-content: space-evenly;
}
.cabecera__contactar--método{
    color: var(--color-secundario);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}   
.cabecera__contactar--método:hover {
    color: var(--color-clickable)
}

.cabecera__buscar--etiqueta {
    color: var(--color-secundario);
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo__página {
   font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-blanco);
   text-align: center;
}
.titulo__subseccion {
 font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-blanco);
   text-align: center;
}
.titulo__juego {
text-align: center;
font-family: "Press Start 2P", system-ui;
padding: 15px;
}
.juego {
    background-color: var(--color-primario);
    width: 40%;
    border: solid 10px var(--color-terciario);
    border-radius: 5%;
    display: flex;
    flex-direction: column;

}
.portada__juego {
    width: 100%;
    height: auto;   
    object-fit: cover;
}
.fecha__juego {
    display: block;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: small;
    padding: 15px;
}
.plataforma__juego {
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: small;
    padding: 15px;
    

}
.seccion__recientes {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: space-between;
    gap: 25px;
}
.seccion__recientes:last-child {
    padding-bottom: 25px;
}
.seccion__proximos {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    gap: 25px;
    padding-bottom: 10px;
}

.pie__de__página {
    background-color: var(--color-primario);
}
 .pie__métodos__contacto--método {
    color: var(--color-secundario);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;


}

.pie__métodos__contacto--método:hover {
    color: var(--color-clickable);
}

.titular__noticia {
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-negro);
   padding: 15px;
   text-align: center;
}
.lead__noticia {
    color: var(--color-secundario);
    font-weight: bold;
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.seccion__ultimasnoticias .lead__noticia:hover{
    color: var(--color-clickable);
}
.noticia {
width: 50%;
background-color: var(--color-primario);
display: flex;
flex-direction: column;
align-items: center;
border: solid 10px var(--color-terciario);
border-radius: 5%;
}
.imagen__noticia {
width: 50%;

}
.copyright {
    font-weight: bold;
    color: var(--color-secundario);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    text-align: center;
}
.seccion__masrelevantes {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.seccion__ultimasnoticias {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.seccion__masrelevantes:last-child {
    padding: 25px;

}

.bienvenida__foro {
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}
.seccion__ultimosmensajes {
    height: 50%
}

.post__foro {
    display: grid
}

.nombre__usuario {
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
}
.perfil__usuario:first-of-type {
background-color: var(--color-negro);
width: 10%;
}
.fecha__publicacion {
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    font-size: 0.8rem;
}
.mensaje__foro {
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    padding-bottom: 10px;
}
.titulo__tabla {
    background-color: var(--color-negro);
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    width: 100%;

}
.encabezado__tabla {
    background-color: var(--color-terciario);
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
}
.contenedor__tabla {
    padding: 8px
}
.tabla  {
    background-color: var(--color-terciario);
    width: 100%;
}
.celda__tabla {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    border: var(--color-terciario) solid 1px;
}
.barra__comentarios {
border-radius: 5%;
height: 20px;
width: 50%;
}

