/* Reseteo variables*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Variables e importaciones */
:root {
--color-primario: #fdf0d5;
--color-secundario: #c1121f;
--color-terciario: #003049;
--color-blanco: #ffffff;
}
body {
    background-color: var(--color-secundario);
}

.cabecera {
background: var(--color-primario);
display: flex

}

.cabecera__logo {
width: 25%;
height: auto;
min-width: 20%;

}
.menu__lista {
    list-style-type: none; 
}
.menu__lista--elemento {
    color: var(--color-secundario);
}
.cabecera__titulo {
color: var(--color-terciario);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cabecera__buscar--enlace__newsletter{
    color: var(--color-secundario);
    
}

.cabecera__bu

.cabecera__contactar {
    display: flex;
    height: 100%;
}
.cabecera__contactar--método{
    color: var(--color-secundario); 
    text-decoration: none;
    align-content: end;
}   
.cabecera__buscar--etiqueta {
    color: var(--color-terciario);
}
.titulo__página {
   font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-blanco);
   text-align: center;
}
.titulo__subseccion {
 font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-blanco);
   text-align: center;
}
.titulo__juego {
}
.juego {
    display: flex;
}
.portada__juego {
    margin: 0, auto;
}
.fecha__juego {
    display: block;
    text-align: center;
}
.plataforma__juego {
    text-align: center;
}

