/* Reseteo variables e imports*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
}
/* Variables e importaciones */
:root {
--color-primario: #fdf0d5;
--color-secundario: #c1121f;
--color-terciario: #003049;
--color-clickable: #FF70A6;
--color-blanco: #ffffff;
--color-negro: #000000;
--color-verde: #2a4d14;
--color-verde-claro: #56E39F;
}
body {
    background-color: var(--color-secundario);
}

.cabecera {
background: var(--color-primario);
display: flex;
justify-content: space-between;
}
.cabecera__logo {
    width: 33%;
}

.logo {
width: 100%;
}
.menu__lista {
    list-style-type: none; 
}
.menu__lista--elemento {
    color: var(--color-secundario);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.menu__lista--elemento:hover {
    color: var(--color-clickable);
}
.cabecera__titulo {
color: var(--color-terciario);
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}
.cabecera__buscar--enlace__newsletter{
    color: var(--color-secundario);
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.cabecera__buscar--enlace__newsletter:hover {
    color: var(--color-clickable)
}

.cabecera__buscar {
    width: 33%;
}

.cabecera__navegar {
    width: 33%;
}

.cabecera__buscar--etiqueta {
    color: var(--color-secundario);
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}
.cabecera__buscar--barra__búsqueda {
    display: block;
}
.cabecera__buscar--botón__búsqueda {
    border-radius: 5px;
    background: var(--color-primario);
    fon
}
.titulo__página {
   font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-blanco);
   text-align: center;
}
.titulo__subseccion {
 font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-blanco);
   text-align: center;
}
.titulo__juego {
text-align: center;
font-family: "Press Start 2P", system-ui;
padding: 15px;
}
.juego {
    background-color: var(--color-primario);
    width: 40%;
    border: solid 10px var(--color-terciario);
    border-radius: 5%;
    display: flex;
    flex-direction: column;

}
.portada__juego {
    width: 100%;
    height: auto;   
    object-fit: cover;
}
.fecha__juego {
    display: block;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: small;
    padding: 15px;
}
.plataforma__juego {
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: small;
    padding: 15px;
    

}
.seccion__recientes {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: space-between;
    gap: 25px;
}
.seccion__recientes:last-child {
    padding-bottom: 25px;
}
.seccion__proximos {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    gap: 25px;
    padding-bottom: 10px;
}

.pie__de__página {
    background-color: var(--color-primario);
}
 .pie__métodos__contacto--método {
    color: var(--color-secundario);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;


}

.pie__métodos__contacto--método:hover {
    color: var(--color-clickable);
}

.titular__noticia {
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-negro);
   padding: 15px;
   text-align: center;
}
.lead__noticia {
    color: var(--color-secundario);
    font-weight: bold;
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.seccion__ultimasnoticias .lead__noticia:hover{
    color: var(--color-clickable);
}
.noticia {
width: 50%;
background-color: var(--color-primario);
display: flex;
flex-direction: column;
align-items: center;
border: solid 10px var(--color-terciario);
border-radius: 5%;
}
.imagen__noticia {
width: 50%;

}
.copyright {
    font-weight: bold;
    color: var(--color-secundario);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    text-align: center;
}
.seccion__masrelevantes {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.seccion__ultimasnoticias {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.seccion__masrelevantes:last-child {
    padding: 25px;

}

.introduccion__página {
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}



.post__foro {
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera"
    "mensaje mensaje mensaje ."
    "adjunto adjunto adjunto .";
    border: var(--color-terciario) solid 7px;
    background-color: var(--color-verde-claro);
    
}

.nombre__usuario {
    
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    grid-area: cabecera;
}
.perfil__usuario:first-of-type {
background-color: var(--color-negro);
width: 10%;
grid-area: cabecera;
border: var(--color-terciario) solid 4px;
}
.cabecera__post {
    background-color: var(--color-verde);
    grid-area: cabecera;
}
.fecha__publicacion {
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    font-size: 0.8rem;
    grid-area: cabecera;
    color: var(--color-blanco);
}
.mensaje__foro {
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    padding: 10px;
    grid-area: mensaje;
}
.titulo__tabla {
    background-color: var(--color-negro);
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    width: 100%;

}
.encabezado__tabla {
    background-color: var(--color-terciario);
    color: var(--color-blanco);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
}
.contenedor__tabla {
    padding: 8px;
    grid-area: adjunto;
}
.tabla  {
    background-color: var(--color-terciario);
    width: 100%;
}
.celda__tabla {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    border: var(--color-terciario) solid 1px;
}
.barra__comentarios {
border-radius: 5%;
height: 25px;
display: inline;
width: 100%;
padding-top: 4px;
}


.integrante {
    border: solid 10px var(--color-terciario);
    border-radius: 5%;
    max-width: 435px;
    max-height: 435px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50%;
}
.nombre__integrante {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    padding: 1rem;
    position: absolute;
    bottom: 1.5rem;
    font-size: 0.8rem;
    background-color: var(--color-primario);
    width: 100%;
    z-index: 2;
}
.seccion__nuestroequipo {
    gap: 1.3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.cargo__integrante {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    padding: 1rem;
    position: absolute;
    bottom: 0rem;
    font-size: 0.6rem;
    background-color: var(--color-primario);
    height: 3%; 
    width: 100%;
    z-index: 2;
}
.foto__integrante {
overflow: hidden;
z-index: 1;
height: 100%;
object-fit: cover;
width: 100%;
}
