/* Reseteo variables e imports*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
}

/* Variables e importaciones */
:root {
    --color-primario: #fdf0d5;
    --color-secundario: #c1121f;
    --color-terciario: #003049;
    --color-clickable: #FF70A6;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-verde: #2a4d14;
    --color-verde-claro: #56E39F;
}

body {
    background-color: var(--color-secundario);
}

.cabecera {
    background: var(--color-primario);
    display: flex;
    justify-content: space-between;
}

.cabecera__logo {
    width: 33%;
}

.logo {
    width: 100%;
}

.menu__lista {
    list-style-type: none;
}

.menu__lista--elemento {
    color: var(--color-secundario);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.menu__lista--elemento:hover {
    color: var(--color-clickable);
}

.cabecera__titulo {
    color: var(--color-terciario);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.cabecera__buscar--enlace__newsletter {
    color: var(--color-secundario);
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.cabecera__buscar--enlace__newsletter:hover {
    color: var(--color-clickable)
}

.cabecera__buscar {
    width: 33%;
}

.cabecera__navegar {
    width: 33%;
}

.cabecera__buscar--etiqueta {
    color: var(--color-secundario);
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

.cabecera__buscar--barra__búsqueda {
    display: block;
}

.cabecera__buscar--botón__búsqueda {
    border-radius: 5px;
    background: var(--color-primario);
    box-shadow: 1px 1px var(--color-negro);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-secundario);
    padding-left: 5px;
    padding-right: 5px;
}

.cabecera__buscar--botón__búsqueda:hover {
    color: var(--color-clickable);
    box-shadow: none;
}

.titulo__página {
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: var(--color-blanco);
    text-align: center;
    grid-column: -1/1;
}

.titulo__subseccion {
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: var(--color-blanco);
    text-align: center;
}

.titulo__juego {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    padding: 1rem;
    font-weight: bold;
}

.juego {
    background-color: var(--color-primario);
    width: 40%;
    border: solid 10px var(--color-terciario);
    border-radius: 5%;
    box-shadow: 10px 10px var(--color-terciario);
    display: flex;
    flex-direction: column;

}

.juego:hover {
    box-shadow: none;
}

.portada__juego {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.fecha__juego {
    display: block;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: small;
    padding: 15px;
}

.plataforma__juego {
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: small;
    padding: 15px;


}

.seccion__recientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 25px;
}

.seccion__recientes:last-child {
    padding-bottom: 25px;
}

.seccion__proximos {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    gap: 25px;
    padding-bottom: 10px;
}

.pie__de__página {
    background-color: var(--color-primario);
}

.pie__métodos__contacto--método {
    color: var(--color-secundario);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;


}

.pie__métodos__contacto--método:hover {
    color: var(--color-clickable);
}

.titular__noticia {
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: var(--color-negro);
    padding: 15px;
    text-align: center;
}

.lead__noticia {
    color: var(--color-secundario);
    font-weight: bold;
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    padding: 1.3rem;
}


.seccion__ultimasnoticias .lead__noticia:hover {
    color: var(--color-clickable);
}

.noticia {
    width: 50%;
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    border: solid 10px var(--color-terciario);
    border-radius: 5%;
    box-shadow: 10px 10px var(--color-terciario);
}

.noticia:hover {
    box-shadow: none;
}

.imagen__noticia {
    width: 100%;
    display: block;

}

.copyright {
    font-weight: bold;
    color: var(--color-secundario);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: center;
}

.seccion__masrelevantes {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion__ultimasnoticias {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.seccion__masrelevantes:last-child {
    padding: 25px;

}

.introduccion__página {
    color: var(--color-blanco);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}



.post__foro {
    display: grid;
    grid-template-areas:
        "cabecera cabecera cabecera cabecera"
        "mensaje mensaje mensaje ."
        "adjunto adjunto adjunto .";
    border: var(--color-terciario) solid 7px;
    background-color: var(--color-verde-claro);

}

.nombre__usuario {

    color: var(--color-blanco);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
    grid-area: cabecera;
}

.perfil__usuario:first-of-type {
    background-color: var(--color-negro);
    width: 10%;
    grid-area: cabecera;
    border: var(--color-terciario) solid 4px;
}

.cabecera__post {
    background-color: var(--color-verde);
    grid-area: cabecera;
}

.fecha__publicacion {
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
    font-size: 0.8rem;
    grid-area: cabecera;
    color: var(--color-blanco);
}

.mensaje__foro {
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
    padding: 10px;
    grid-area: mensaje;
}

.titulo__tabla {
    background-color: var(--color-negro);
    color: var(--color-blanco);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
    width: 100%;

}

.encabezado__tabla {
    background-color: var(--color-terciario);
    color: var(--color-blanco);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
}

.contenedor__tabla {
    padding: 8px;
    grid-area: adjunto;
}

.tabla {
    background-color: var(--color-terciario);
    width: 100%;
}

.celda__tabla {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
    border: var(--color-terciario) solid 1px;
}

.barra__comentarios {
    border-radius: 5%;
    height: 25px;
    display: inline;
    width: 100%;
    padding-top: 4px;
}


.integrante {
    border: solid 10px var(--color-terciario);
    width: 50%;
    border-radius: 5%;
    display: flex;
    box-shadow: 10px 10px var(--color-terciario);
    flex-direction: column;
    position: relative;
}

.tarjeta_integrante {
    height: 100%;
    width: 100%;
}

.nombre__integrante {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    padding: 1rem;
    position: absolute;
    bottom: 1.5rem;
    font-size: 0.8rem;
    background-color: var(--color-primario);
    width: 100%;
    z-index: 2;
}

.seccion__nuestroequipo {
    gap: 1.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.cargo__integrante {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    padding: 1rem;
    position: absolute;
    bottom: 0rem;
    font-size: 0.6rem;
    background-color: var(--color-primario);
    height: 3%;
    width: 100%;
    z-index: 2;
}

.foto__integrante {
    overflow: hidden;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.seccion__contacto, .seccion__newsletter {
    padding: 1.3rem;
    gap: 1.3rem;
}

.formulario__campos {
    width: 50%;
    background: var(--color-primario);
    border: solid 10px var(--color-terciario);
    box-shadow: 10px 10px var(--color-terciario);
    padding: 1.3rem;
    display: grid;
    margin: 0 auto;
    border-radius: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 2fr);
    position: relative;
    gap: 1.3rem;
}

.formulario__leyenda {
    font-family: RMPro, -apple-sysem, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
    color: var(--color-secundario);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;


}

.formulario__campo {
    background-color: var(--color-primario);
    border: solid 5px var(--color-terciario);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-shadow: 5px 5px var(--color-terciario);
    border-radius: 5%;
    height: 100%;
}

.formulario__boton--grande {
    border-radius: 10px;
    background: var(--color-primario);
    box-shadow: 10px 10px var(--color-negro);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-secundario);
    grid-column: span 2;
    font-size: 1.5rem;
}
.formulario__boton--grande:hover {
    box-shadow: none;
    color: var(--color-clickable);
}

.formulario__campo--mensaje {
    background-color: var(--color-primario);
    border: solid 10px var(--color-terciario);
    width: 100%;
    box-shadow: 10px 10px var(--color-terciario);
    border-radius: 5%;
    
    
}

.formulario__etiqueta--mensaje {
    width: 100%;
    grid-column: span 2;
    padding-bottom: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-secundario);

}
.formulario__boton {
    border: solid 1px var(--color-negro);
    background: var(--color-primario);
    box-shadow: 10px 10px var(--color-negro);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-secundario);
    padding-left: 5px;
    padding-right: 5px;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 1/-1;
    font-size: 1.3rem;
}
.formulario__boton:hover {
    box-shadow: none;
    color: var(--color-clickable);
}
.formulario__etiqueta {
    height: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-secundario);

}
.formulario__motivo {
    background: var(--color-primario);
    color: var(--color-secundario);
    box-shadow: 10px 10px var(--color-terciario);
    border: solid 10px var(--color-terciario);
    height: 100%;
    border-radius: 10%;

}
.formulario__motivo--opcion:hover {
background-color: var(--color-clickable);
color: var(--color-blanco);
}
.formulario__campo::placeholder,
.formulario__campo--mensaje::placeholder,
.formulario__motivo::placeholder {
    color: var(--color-secundario);
    opacity: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.formulario__campo:focus,
.formulario__campo--mensaje:focus,
.formulario__motivo:focus {
    box-shadow: none;
    outline: var(--color-secundario);
}

.formulario__etiqueta--newsletter {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-secundario);
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
}

.formulario__campo--newsletter {
    background-color: var(--color-primario);
    border: solid 5px var(--color-terciario);
    font-family: RMPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    box-shadow: 5px 5px var(--color-terciario);
    border-radius: 5%;
    height: 100%;
    width: 100%;

}

.formulario__campo--newsletter::placeholder {
    color: var(--color-secundario);
    opacity: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario__campo--newsletter:focus {
    box-shadow: none;
    outline: var(--color-secundario);
}

