/* Reseteo variables e imports*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
}
/* Variables e importaciones */
:root {
--color-primario: #fdf0d5;
--color-secundario: #c1121f;
--color-terciario: #003049;
--color-blanco: #ffffff;
--color-primario-transparente: #fdf0d5CA
}
body {
    background-color: var(--color-secundario);
}

.cabecera {
background: var(--color-primario);
display: flex;
justify-content: space-betwee;
}
.cabecera__logo {
    width: 25%;
}

.logo {
width: 100%;
}
.menu__lista {
    list-style-type: none; 
}
.menu__lista--elemento {
    color: var(--color-secundario);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.cabecera__titulo {
color: var(--color-terciario);
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}
.cabecera__buscar--enlace__newsletter{
    color: var(--color-secundario);
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
    
}

.cabecera__buscar {
    width: 25%;
}

.cabecera__contactar {
    width: 25%;
}
.cabecera__navegar {
    width: 25%;
}
.cabecera__contactar--métodos {
    display: flex;
    justify-content: space-evenly;
}
.cabecera__contactar--método{
    color: var(--color-secundario);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}   

.cabecera__buscar--etiqueta {
    color: var(--color-secundario);
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo__página {
   font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-blanco);
   text-align: center;
}
.titulo__subseccion {
 font-family: RMPro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   color: var(--color-blanco);
   text-align: center;
   padding: 10px;
}
.titulo__juego {
text-align: center;
font-family: "Press Start 2P", system-ui;
padding: 15px;
}
.juego {
    background-color: var(--color-primario);
    width: 50%;
    height: 100%;
    border: solid 10px var(--color-terciario);
    border-radius: 5%;
    display: flex;
    flex-direction: column;

}
.portada__juego {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.fecha__juego {
    display: block;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-size: small;
    padding: 15px;
}
.plataforma__juego {
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: small;
    padding: 15px;
    

}
.seccion__recientes {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: space-between;
}
.seccion__proximos {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}
